In [12]:
#Q1 python program to print all odd numbers in list
list1 = [ 1,2,3,4,5,6,7,8,9,10]
final=[]
for i in range(len(list1)):
  if i%2!=0:
    final.append(i)
  else:
    pass

print(final)

[1, 3, 5, 7, 9]

In [19]:
#Q2 python program to find the sum of list elements
list1 = [1,2,3,5,6]
var = sum(list1)
print(var)

17

In [17]:
#Q3 python program to reverse a list in two ways
names = ['ali', 'faraz','ahmed','danish']
names.reverse()
print(names)
names[-1: : -1]
print(names)

['danish', 'ahmed', 'faraz', 'ali']
['danish', 'ahmed', 'faraz', 'ali']

In [15]:
#Q4 python program to find the top two maximum numbers in a list
list1 = [30,40,50,10,20]
list1.sort()
print(list1[-1])
print(list1[-2])

50
40

In [20]:
#Q5 write a program in python to find the second highest number in an integer list
list1 = [60,40,100,50,10]
list1.sort()
print(list1[-2])

60

In [ ]:
#Q6 python program to sort characters in decending order
names = ['ali','faraz','kamran','ahmed','hamza']
#print(names.sort(reverse= True))
names.sort()
print(names)
names.sort(reverse= True)
print(names)

['ahmed', 'ali', 'faraz', 'hamza', 'kamran']
['kamran', 'hamza', 'faraz', 'ali', 'ahmed']

In [13]:
#Q7 python program to remove repeated characters from a string
name = input('enter any name:')

new_list = []
for a in name:
  if a not in new_list:
    new_list.append(a)
print(new_list)

enter any name:hassan
['h', 'a', 's', 'n']

In [14]:
#Q8 python program to check if a given character is a vowel or consonant

l = input("Input a letter of the alphabet: ")

if l in ('a', 'e', 'i', 'o', 'u'):
	print(l,"is a vowel.")
else:
	print(l,"is a consonant.")

Input a letter of the alphabet: r
r is a consonant.

In [8]:
#Q9 python program to calculate factorial

num = int(input('enter any number '))
factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

enter any number 4
The factorial of 4 is 24

In [ ]:
#Q10 python program to merge two lists
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]